{% extends "gerenciamento/base.html" %}
{% block corpo %}
<div class='col-7 mx-auto'>
    <div class='text-center'>
        <h1><strong>Lista dos Alunos</strong></h1>
    </div>
    <div class='border p-5 border-3 rounded-5'>
        <div>
            <a class='btn btn-info' href="{% url "add_alu" %}">Registrar Aluno</a>
        </div>
        <br>
        <div>
            <ul class='list-group text-center'>
                {% for aluno in alunos %}
                <li class='list-group'><a class='list-group-item list-group-item-action' href="{% url "inf_alu" aluno.id %}">{{ aluno.nome }}</a></li><br>
                {% empty %}
                <li>Não há alunos registrados!</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock corpo %}