.Turma.A{
    background-color: rgb(77, 96, 58);
    color: white;
}
.Turma.B{
    background-color: rgb(141, 40, 169);
    color: white;
}
.Turma.C{
    background-color: rgb(0, 47, 128);
    color: white;
}
.Turma.D{
    background-color: rgb(216, 7, 105);
    color: white;
}