{% extends "gerenciamento/base.html" %}
{% block corpo %}
<div class='col-10 mx-auto'>
    <div class='text-center'>
        <h1><strong>Registrar um novo Curso</strong></h1>
    </div>
    <div class='col-7 mx-auto border border-3 rounded-5 p-5'>
        <form action="{% url "add_cur" %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class='d-grid gap-2 d-md-block'>
                <input class='btn btn-success' type="submit" value="Enviar">
                <a class='btn btn-danger text' href="{% url "lis_curs" %}">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock corpo %}